# Flutter
.dart_tool/
.packages
build/

# Android
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/

# IntelliJ / Android Studio
.idea/
*.iml

# VSCode
.vscode/

# MacOS
.DS_Store